@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 10%;
    --card: 0 0% 95%;
    --primary: 15 100% 50%; /* Truegrynd Orange */
    --muted: 0 0% 60%;
  }

  .dark {
    --background: 0 0% 5%;
    --foreground: 0 0% 100%;
    --card: 0 0% 10%;
    --primary: 15 100% 50%;
    --muted: 0 0% 40%;
  }
}

body {
  @apply bg-background text-foreground transition-colors duration-200;
}
